# Segmenting and Clustering Neighborhoods in Toronto Assignment

## First Importing Librarys

In [25]:
! pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
    100% |████████████████████████████████| 102kB 17.6MB/s
Requirement already satisfied: click in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (7.0)
Requirement already satisfied: requests in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (2.21.0)
Requirement already satisfied: six in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (1.12.0)
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: future in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (0.17.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (2018.11.29)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: decorator in /home/jupyterlab/conda/lib/python3.6/site-packages (from ratelim->geocoder) (4.3.2)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [27]:
import requests        #For HTTP Requests
import lxml.html as lh #For Html to ? Convertion
import pandas as pd    #For Creating Dataframs
from lxml import etree #For Converting HTML Elements to Raw HTML
import numpy as np     #For Vectorized Computation
import geocoder        #For Getting the latitude and longitude Coordinates

## Second Preparing Data

Getting a data from a table located somewhere in a web page isn't that difficult, In order to get data then there is couple of things you need to know about HTML.
First HTML is a markup language which means it's written as tags like:

(<'Div>,<'Form>,<'Table> etc.)

and those tags always have a start and end so they look like something like this:

<'div> Any Thing (Data of Other Tags) </'div>

The other thing is these tags sometimes contains attributes that defines some property's for the tag, A tag with an attribute will look like something like this:

<'div attribute='Value'>  Any Thing (Data of Other Tags)  </'div>

There is two attributes that we need to focus on:
<ul>
    <li><strong>Class</strong> : Which defines the style class of the tag (Same Class Can Be Used For Multiple tags)</li>
    <li><strong>Id</strong>    : Which defines a unique name for the tag (Ids are Unique and Can't Be Used For Multiple tags)</li>
</ul>
So in order to get a tag then the first thing that you need to consider is to find the id of the tag (<font style='color:#f90909 !important;'>IF EXISTED</font>), and in order to get that tag is by opening your browser and 'Right Click' on that tag and click on 'Inspect' as follow:

<img src="Ex1.png" />

After that a small screen will appear and it will contain the HTML of the page and focus on the tag that you have 'Right-Clicked' on it, you will need to look for a 'Table' tag and try to find if there an id attribute with it.

<img src="Ex2.png" />

Based on the above image you can see that there is't an id with the table 'BUT' there is a class attribute so we will simply copy the value of that class and  assign it to a new variable in our notebook

In [17]:
Table_Class = "wikitable sortable" #Just Copy the First Two Words

### Data Enquiring
Now we will get the contents of the page and dig for that Table and for that we will gonna use LXML library

In [19]:
wikipedia_url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'  #Page Url
page = requests.get(wikipedia_url)                                               #Get the Page
doc = lh.fromstring(page.content)                                                #getting the contents of the website

#Now we will get the wikipedia table that has a class attribute thet contints "wikitable sortable"
results  = doc.xpath("//table[@class='%s']" % Table_Class )

table = results[0]          #Getting The Table Which Should be the First in List (as HTML Element)
raw = etree.tostring(table) #Getting Raw HTML From HTML Element
df = pd.read_html(raw)[0]   #Use Pandas 'read_html' Function to Convert From HTML to Dataframe

df.head()                   #Printing Result Dataframe

<Response [200]>

### Cleaning Data
First we will delete every row that has 'Borough' value is not assign, then we will copy the value of 'Borough' column to 'Neighbourhood' that has no value and after that we will reset the dataframe index.
Next is kind of tricky; we will group data based on 'Postcode' and aggregate the child value into one cell but separate them by a comma

In [33]:
df.drop(df.loc[df['Borough'] == "Not assigned"].index, inplace=True)         #Removing Rows That Has "Not assigned" Value
df.loc[df['Neighbourhood'] == "Not assigned" , 'Neighbourhood'] = df['Borough'];
df = df.reset_index(drop=True)                                               #Reseting Index
tmp = df.groupby(['Postcode'])['Neighbourhood'].agg(', '.join).reset_index() #Grouping Data
tmp['Borough'] = df.groupby(['Postcode'])['Borough'].first().reset_index()['Borough']
df = tmp                                 
df.shape

(103, 3)

### Preparing Latitude and Longitude

In [65]:
lldf = pd.read_csv('Geospatial_Coordinates.csv')
df['Latitude'] = lldf.loc[lldf['Postal Code'] == df['Postcode'] , 'Latitude']
df['Longitude'] = lldf.loc[lldf['Postal Code'] == df['Postcode'] , 'Longitude']

df.head()

,Postcode,Neighbourhood,Borough,Latitude,Longitude
0,M1B,"Rouge, Malvern",Scarborough,43.806686,-79.194353
1,M1C,"Highland Creek, Rouge Hill, Port Union",Scarborough,43.784535,-79.160497
2,M1E,"Guildwood, Morningside, West Hill",Scarborough,43.763573,-79.188711
3,M1G,Woburn,Scarborough,43.770992,-79.216917
4,M1H,Cedarbrae,Scarborough,43.773136,-79.239476

In [56]:
lldf.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476